{{- /* Custom CSS */}}
{{- $custom := resources.Get "css/custom.css" }}
{{- if $custom }}
  {{- $custom = $custom | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $custom.Permalink }}" integrity="{{ $custom.Data.Integrity }}">
{{- end }}

{{- /* AdSense Script (uncomment when you have your publisher ID) */}}
{{- if .Site.Params.adsense }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.adsense_code }}"
    crossorigin="anonymous"></script>
{{- end }}
