{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>

    {{- /* Category List */}}
    {{- if .ShowCategories }}
    <div class="category-list">
        {{- range $name, $taxonomy := site.Taxonomies.categories }}
            {{- $count := len $taxonomy.Pages }}
            <a class="category-badge" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/">
                {{ $name | humanize }} ({{ $count }})
            </a>
        {{- end }}
    </div>
    {{- end }}

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
